.jumbotron {
    background: url("https://www.elsetge.cat/myimg/f/33-334922_homer-simpson-wallpaper-hd-47mg4bd-simpson-wallpaper-full.jpg");
    background-repeat: none;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: 1300px;

}